/* EditOutline.css */

.cellStyle {
  border: 1px solid #000000;
  padding: 8px;
  vertical-align: top;
}

.leftSide {
  border: 1px solid #000000;
  padding: 8px;
  vertical-align: top;
  width: 200px;
  font-weight: bold;
}

.inputStyle {
  width: 100%;
  padding: 6px;
  font-size: 12px;
  border: none;
}

.inputHours {
  width: 100%;
  padding: 6px;
  font-size: 12px;
  border: 1px solid #ccc;
}

.inputHoursReadonly {
  background-color: #eee;
}


.textareaStyle {
  width: 100%;
  min-height: 100px;
  padding: 8px;
  font-size: 14px;
  resize: none;
  border: none;
  outline: none;
  overflow: hidden;
  background-color: transparent;
}

.subHeaderStyle {
  border: 1px solid #ccc;
  padding: 6px;
  background-color: #ADDFFF;
  font-size: 12px;
}

.subHeaderWidth10 {
  width: 10%;
}
.subHeaderWidth20 {
  width: 20%;
}
.subHeaderWidth60 {
  width: 60%;
}

.unitColumn {
  border: 1px solid #ccc;
  padding: 6px;
}

.descriptionColumn {
  border: 1px solid #ccc;
  padding: 6px;
}

.unitDescription {
  width: 100%;
  padding: 6px;
  font-size: 12px;
  resize: none;
  border: none;
}

.hoursColumn {
  border: 1px solid #ccc;
  padding: 6px;
  width: 20%;
}

.actionColumn {
  border: 1px solid #ccc;
  padding: 6px;
}
