.navbar {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}

.nav-link {
  position: relative;
  color: rgb(92, 92, 92);
  text-decoration: none;
  font-size: 35px;
  margin: 0 30px;
  font-weight: bold;
  padding-bottom: 5px;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom:-3px;
  height: 3px;
  width: 0;
  background-color: #8c8d8d;
  transition: width 0.3s ease;

  
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}